@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mt-3">
    <h1 class="display-4">iTask</h1>
</div>

<div class=" mb-3 ml-0 mr-0">
    <div class="card border-dark mb-3" style="">
        <div class="row">
            <div class="col-8" style="display: flex; justify-content: center; align-items: center;">
                <img src="/img/Index2.jpg" class="cover" alt="Girl in a jacket" style="float:left; width:80%;height:100%;">
            </div>
            <div class="col-3" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text mr-3" style="">
                    iTask is project management website provides a comprehensive platform for teams to plan, 
                    organize, and monitor project progress from start to finish. We offer features like task assignments or 
                    timeline tracking. Let begin work with us!
                </p>
            </div>
        </div>
    </div> 

    <div class="card border-dark mb-3" style="">
        <div class="row">
            <div class="col-7" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text ml-3" style="">
                    <ol>
                        When you are palnning a project, set the following rules: 
                        <li>Clear Objectives and Scope</li>
                        <li>Stakeholder Involvement and Communication</li>
                        <li>Detailed Task Breakdown</li>
                        <li>Realistic Scheduling and Timelines</li>
                        <li>Resource Allocation</li>
                        <li>Risk Management</li>
                        <li>Quality Assurance and Control</li>
                        <li>Flexibility and Adaptability</li>
                        <li>Documentation and Transparency</li>
                        <li>Monitoring and Performance Evaluation</li>
                    </ol> 
                </p>

            </div>
            <div class="col-4" style="display: flex; justify-content: center; align-items: center;">
                <img src="/img/Index3.jpg" class="cover" alt="Girl in a jacket" style="float:left;width:100%;">
            </div>
        </div>
    </div> 
</div>