@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class=" mb-3 ml-0 mr-0" style="min-height: 400px;">
    <div class="card border-dark mb-3" style="">
        <div class="card-body text-white" style="background-image: url('/img/background2.jpg'); background-repeat: repeat; background-size: 500px;">
            <p class="card-text">Description Description Description Description Description Description Description</p>
            
        </div>
    </div>      
</div>