
@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}

html {
  font-size: 14px;
  font-family: Comfortaa;

}

@media (min-width: 768px) {
  html {
    font-size: 12px;
    
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
}

body {  
  font-family: Comfortaa;
  display: flex; 
  min-height: 100vh;
  background-color: rgb(164, 33, 33);
}

#nav-bar {
  background-image: url("/img/nav-image-1.jpg");
  background-size: cover;
  background-blend-mode: luminosity;
  background-color: rgb(51, 8, 81);
  }