
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #ffc107;
  background-color: rgb(255, 255, 255);
  background-image: url("https://img.freepik.com/free-vector/flat-geometric-pattern-background_23-2149925054.jpg?t=st=1730232907~exp=1730236507~hmac=040e43ef372901c273db2a1d70135cc93d74ab748f721050bb42b3c2f7369811&w=2000");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Details - Columns */
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
}

.left, .right {
  
}

.middle {
  padding-left: 10px;
  padding-right: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
}

.backgroud-white{
  background-color: rgb(222, 222, 222)
}