
@{
    ViewData["Title"] = "Project Page";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
    <p>Switch view button</p>
    <p>List of projects with link to move to project and value of done/undone assignments</p>
    <p> button to add new project</p>



    <div> cos 2x  xxx yyyy zzz  aaa test2  ssss ss</div>
</div>
