
@{
    ViewData["Title"] = "Projects Page";
}


<h1 class="text-white text-center">Projects</h1>  
<div class="">
 <table class="table table-responsive text-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">date start</th>
                <th scope="col">date end</th>
                <th scope="col">duration</th>
                <th scope="col">status</th>
            </tr>


        </thead>
        @for(int i=0; i<7; i++)
        {
            <tbody>
                <tr>
                    <th scope="row">@i</th>
                    <th >i Name</th>
                    <th >2024.07.30</th>
                    <th scope="">2024.08.30</th>
                    <th scope="">30</th>
                    <th scope="">open</th>
                </tr>
            </tbody>

        }
    </table>

</div> 
   

    
    
