
@model List<Project>
@{
    ViewData["Title"] = "Projects Page";
}


<h1 class="text-white text-center">Projects</h1>  
<div class="">
 <table class="table table-responsive text-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">date start</th>
                <th scope="col">date end</th>
                <th scope="col">status</th>
                <th scope="col">duration</th>

            </tr>


        </thead>

        @foreach(var m in Model){
            <tbody>
                <tr> 
                    <td scope="row">
                        <a class="row-link" asp-area="" asp-controller="Project" asp-action="Details" asp-route-id="@m.Id">@m.Id</a>
                    </td>
                    
                    <td >@m.Name</td>
                    <td scope="">2024.08.30</td>
                    <td scope="">2024.08.30</td>
                    <td scope="">@m.State</td>
                    <td scope="">11</td>


                </tr>
            </tbody>
        }
    </table>
    <button type="button" class="btn btn-warning"> Add Project</button>
</div> 


   

    
    
