
@{
    ViewData["Title"] = "Projects Page";
}


<h1 class="text-white text-center">Projects</h1>   

<div class="row pb-3">
    @for(int i=0; i<3; i++)
    {
        <div class="col-lg-2 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 border-top border-5 border-secondary rounded rounded-1 bg-dark">
                        <img src="/img/image.jpg" class="card-img-top rounded img"/>
                        <div class="card-body pb-0">
                            <p class="card-title h5 text-light text-uppercase text-center">Title</p>
                        </div>
                        <div class="pl-1">
                            <p class="text-white text-center">0/4</p>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-id="Id" class="btn btn-secondary border-0 form-control">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>
