
@{
    ViewData["Title"] = "Project Page";
}

<div class="text-center">
    <h2 class="">Projects</h2>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Project" asp-action="Index">Projects</a>
        </li>
    </ul>
</div>
