<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - iTask</title>  
    
    <link icon="itask.png" typ="image/x-icon" href="/img/itask.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/iTask.styles.css" asp-append-version="true" />
    
    <style>
        #intro {
        background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
        height: 100vh;
        }

        #nav-bar {
        background-image: "/img/itask.png" ;
        }
    </style>
</head>
<body>
    <main id="nav-bar" class="d-flex flex-nowrap" style="background-color: rgb(132, 63, 185);">
        <h1 class="visually-hidden">Sidebars examples</h1>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <partial name="_LoginPartial" />
                </a>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-house-fill h6" style="color: white;"></i>
                        Home
                    </a>
                </li>
                <li>
                    <button class="nav-link text-white btn-toggle" data-bs-toggle="collapse" data-bs-target="#projects-collapse" aria-expanded="true"> 
                        <i class="bi bi-clipboard-fill h6"></i>
                        Projects List
                        <div class="collapse hide" id="projects-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="float: left;"> 
                                <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Project 1</a></li>
                                <li><a href="#" class="nav-link text-white">Project 2</a></li>
                            </ul>
                        </div>
                    </button>
                </li>
                <li>
                    <button class="nav-link text-white btn-toggle" data-bs-toggle="collapse" data-bs-target="#tasks-collapse" aria-expanded="true"> 
                        <i class="bi bi-view-list h6"></i>
                        Recent Tasks
                        <div class="collapse hide" id="tasks-collapse" style=""> 
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="float: left;">
                                <li><a href="#" class="nav-link text-white">Task 1</a></li>
                                <li><a href="#" class="nav-link text-white">Task 1</a></li>

                            </ul>

                        </div>
                    </button>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-clipboard-pulse"></i>                    
                        Ranks
                    </a>
                </li>
            </ul>
            <hr>

            <footer class="footer">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">&copy; 2024 iTask Privacy</a>
            </footer>
        </div>
    </main>

    <div class="container bg-image"> 
        <main role="main">
            @RenderBody()
        </main>



    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

