<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iTask</title>  
    <link icon="itask.png" typ="image/x-icon" href="/img/itask.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/iTask.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="sidefield">
        <div class="container-layout"> 
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <partial name="_LoginPartial" />
            </a>

            <div class="">
                <a class="a" asp-area="" asp-controller="Project" asp-action="Index">Projects</a>
                <ul class="">
                    <li class="">
                        <a>aa  </a> 

                    </li>
                </ul>

            </div>

        </div>
    </div>

    <div class="mainfield">
        <div class="container-layout"> 
                <a class="a" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/itask.png" alt="iTask" style="width:36px; height:36px">
                    iTask
                </a>
        <main role="main" class="pb-3">
            @RenderBody()

        </main>

        </div>
       

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - iTask - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

