@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <button class="nav-link btn btn-link text-dark">
                <i>@User.Identity?.Name.Split('@')[0]</i>
                <i class="bi bi-person-circle"></i>
            </button>
        </a>
    </li>
    <li class="nav-item">
        <form  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">
                <i class="bi bi-box-arrow-in-left"></i>

                <i>Logout</i>
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
            <button class="nav-link btn btn-link text-dark">
                <i class="bi bi-box-arrow-in-right"></i>
                <i>Login</i>
            </button>
        </a>
    </li>
}
</ul>

