@model Project
               
<h1>Create Project</h1>
<div class="row mb-3 ml-0 mr-0" style="">
    <div class="card border-dark mb-3 col-12" style="">
        <h4 class="card-header">
            Details:        
        </h4>
        <div class="card-body text-dark">
            <form method="post" class="text-left">
                <div class="ml-0">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control border-dark shadow"/>
                        <label asp-for="Name" class=""></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>  
                    <div class="form-floating">
                        <input asp-for="DateStart" class="form-control border-dark shadow" value="@DateTime.Now.ToString("dd/mm/yyyy")"/>
                        <label asp-for="DateStart" class=""></label>
                        <span asp-validation-for="DateStart" class="text-danger"></span>
                    </div>                     
                    <div class="form-floating">
                        <input asp-for="DateEnd" class="form-control border-dark shadow" value="@DateTime.Now.ToString("dd/mm/yyyy")"/>
                        <label asp-for="DateEnd" class=""></label>
                        <span asp-validation-for="DateEnd" class="text-danger"></span>
                    </div> 
                    <div class="form-floating">
                        <input asp-for="Description" class="form-control border-dark shadow" />
                        <label asp-for="Description" class="" type="hidden"></label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3 ml-0">
                    <button class="btn btn-dark border-dark backgroud-dark mr-1" type="submit">
                        <i class="bi bi-floppy"></i>
                    </button>
                    <a class="btn btn-light border-dark backgroud-white mr-1" asp-area="" asp-controller="Projects" asp-action="List">
                        <i class="bi bi-arrow-left-square"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>      
</div>