@model Project

<div class="text-left">
    <h1 class="display-4">@Model.Name</h1>
    <p class="">Some small description</p>


</div>
<a class="btn btn-primary" asp-area="" asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Id"> Edit</a>
<a class="btn btn-primary" asp-area="" asp-controller="Projects" asp-action="AddTask" asp-route-id="@Model.Id"> AddTask</a>
