@model Project
Edit
<h1>No.@Model.Id: @Model.Name</h1>
<form method="post" class="row">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly"></div>
            <div class="form-floating py-2 col-12">
            <input asp-for="Name" class="form-control border-0 shadow" />
            <label asp-for="Name" class="ms-2"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-outline-primary border form-control">Save</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Projects" asp-action="Details" asp-route-id=@Model.Id class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>